$default-box-shadow: -2px 7px 7px rgba(0, 0, 0, 0.15);
$invert-box-shadow: 0px -7px 7px rgba(0, 0, 0, 0.15);

$default-pink: rgb(250, 64, 152);
$light-pink: rgb(255, 131, 189);
$default-purple: rgb(151, 55, 214);
$light-purple: rgb(219, 167, 253);
$seat-available: rgba(195, 207, 217, 1);
$seat-unavailable: rgba(251, 225, 146, 1);
$btn-default: rgba(232, 131, 58, 1);
$alt-blue: rgba(36, 122, 107, 1);

$default-border-radius: 3px;
$regular-font-size: 18px;

$session-box-height: 43px;
$session-box-width: 83px;
