@import "./sass/variables";
@import "./sass/resets";
@import "./sass/mixins";

body {
  position: relative;

  padding: 0 !important;
  height: 100vh;
  width: 100vw;

  overflow-x: hidden;
  background-color: $alt-tertiary-color;
}
header {
  @include flex(initial, center, center, 10px);
  position: fixed;
  z-index: 1;

  width: 100%;
  height: 67px;

  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: 3px;
  color: white;

  box-shadow: $default-box-shadow;
  background-color: $primary-color;

  img {
    width: 36px;
  }
}
h4 {
  @include flex(initial, center, center, initial);

  height: 90px;
  width: 100%;

  font-size: 1.5em;
  font-weight: 300;
  color: $primary-color;

  text-shadow: $default-text-shadow;
}
main {
  padding-top: 67px;
  padding-bottom: 126px;
}
a {
  outline: none;
  text-decoration: none;
}
footer.selected-movie {
  @include flex(initial, center, center, initial);
  position: fixed;
  bottom: 0;
  right: 0;

  padding: 7px 7px;
  min-height: 117px;
  width: 100%;

  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 2px;

  .container {
    @include flex(row, flex-start, center, 15px);

    padding: 10px 10px;
    width: 100%;
    height: 100%;

    border-radius: 8px;
    box-shadow: $poster-box-shadow;
    background-color: $primary-color;
  }
  img {
    height: 92px;

    border-radius: $default-border-radius;
  }
  .overview {
    @include flex(column, initial, flex-start, 15px);
    color: white;
  }
}
div.seat-option {
  @include flex(initial, center, center, initial);
  position: relative;
  left: 0px;
  top: 0px;

  padding: 1px 0 0 1.5px;
  height: 26px;
  width: 26px;

  font-size: 0.77em;
  font-weight: 300;
  color: white;

  cursor: pointer;

  border-radius: 50%;
  border: 1px solid $btn-shadow-secondary-color;
  background-color: $secondary-color;
  box-shadow: $btn-shadow-secondary-color 0px 3px 0px 0px;
  transition: all 300ms ease-in-out 0s;

  &.selected {
    left: 0px;
    top: 3px;

    background-color: $tertiary-color;
    box-shadow: transparent 0px 0px 0px 0px;
  }
  &.unavailable {
    background-color: $alt-secondary-color;
    cursor: default !important;
  }
}
.default-btn {
  @include flex(column, center, center, initial);

  font-weight: 300;
  color: white;

  cursor: pointer;
  transition: all 300ms ease-in-out 0s;

  box-shadow: $default-box-shadow;
  border-radius: $default-border-radius;
  background-color: $secondary-color;
}
.return-btn {
  position: fixed;
  z-index: 1;
  top: 14px;
  left: 17px;

  font-size: 36px;
  color: white;

  cursor: pointer;
  transition: all 300ms ease-in-out 0s;
}
#main {
  @include flex(column, center, center, 0);
  text-align: center;

  height: fit-content;
  max-width: 100%;

  background-color: transparent;

  section {
    @include flex(row, center, center, 30px);
    flex-wrap: wrap;

    padding: 0 25px;
    height: fit-content;
    max-width: 375px;
  }
  article.movie-poster {
    @include flex(initial, center, center, initial);

    padding: 5px;
    height: 209px;
    width: 145px;

    border-radius: $default-border-radius;
    box-shadow: $poster-box-shadow;
    background-color: transparent;

    cursor: pointer;

    img {
      width: 95%;

      border-radius: $default-border-radius;
    }
  }
}
#movie {
  @include flex(column, center, center, 10px);
  position: relative;

  .schedule {
    @include flex(row, flex-start, initial, 9px);
    flex-wrap: wrap;

    padding: 10px 24px;
    height: 140px;
    width: 100%;

    box-shadow: $schedule-box-shadow;

    &__date {
      width: 100%;
      align-self: center;

      font-size: 1.15em;
      font-weight: 300;
      letter-spacing: 2px;
      font-style: italic;
      text-align: start;
    }
    &__time-option {
      height: $time-option-box-height;
      width: $time-option-box-width;
    }
  }
}
#session {
  @include flex(column, center, center, 15px);
  position: relative;

  padding: initial 24px;

  .seats-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 26px);
    gap: 18px 7px;

    width: 337px;
    height: 203px;
  }
  .seat-examples {
    @include flex(row, center, center, 37px);

    margin-bottom: 20px;
    padding: 0 56px;
    height: 53px;
    width: 100%;

    > div {
      @include flex(column, space-between, center, initial);

      height: 50px;
      width: fit-content;

      font-size: 13px;
      font-weight: 300;
    }
    div {
      cursor: default !important;
    }
  }
  .user-inputs {
    @include flex(column, center, center, 35px);
    position: relative;

    margin-top: 40px;
    margin-bottom: 20px;

    .seat-number {
      position: absolute;
      top: -35px;
      left: -10px;

      font-size: 1.1em;
      color: $primary-color;
    }
    /* modified input field css sourced from https://codepen.io/chris__sev/pen/LYOyjY?editors=1100 */
    &__group {
      position: relative;

      input {
        display: block;

        padding: 10px 10px 10px 5px;
        width: 300px;

        font-weight: 300;
        font-size: 17px;

        border: none;
        background-color: transparent;
        border-bottom: 1px solid #757575;
      }
      input:hover {
        cursor: text;
      }
      input:focus {
        outline: none;
      }
      label {
        position: absolute;
        top: 15px;
        left: 5px;

        font-size: 15px;
        font-weight: 300;

        color: #999;

        pointer-events: none;
        transition: 0.2s ease all;
      }
      /* active state */
      input:focus ~ label,
      input:valid ~ label {
        top: -10px;
        font-size: 14px;
        color: $bar-primary;
      }
      /* BOTTOM BARS ================================= */
      .bar {
        position: relative;
        display: block;
        width: 300px;
      }
      .bar:before,
      .bar:after {
        position: absolute;
        bottom: 1px;

        height: 2px;
        width: 0;

        content: "";
        background: $bar-primary;
        transition: 0.2s ease all;
      }
      .bar:before {
        left: 50%;
      }
      .bar:after {
        right: 50%;
      }
      /* active state */
      input:focus ~ .bar:before,
      input:focus ~ .bar:after {
        width: 50%;
      }
      /* HIGHLIGHTER ================================== */
      .highlight {
        position: absolute;
        top: 25%;
        left: 0;

        height: 60%;
        width: 100px;

        opacity: 0.5;
        pointer-events: none;
      }
      /* active state */
      input:focus ~ .highlight {
        animation: input-highlighter 0.3s ease;
      }
    }
  }
  .default-btn {
    margin: 30px 0;
    height: 42px;
    width: 225px;
  }
  .alert-text {
    position: absolute;
    top: 47px;
    left: 0;

    height: 19px;

    font-size: 13px;
    font-weight: 300;
    align-self: flex-start;
    color: $primary-color;

    transition: all 300ms ease-in-out 0s;

    overflow: initial;

    &.invisible {
      height: 0;
      overflow: hidden;
    }
  }
}
#output {
  @include flex(column, center, flex-start, 25px);
  position: relative;
  padding: 0 24px;

  h4 {
    padding-top: 20px;
    height: 80px;

    text-align: center;
    font-size: 1.6em;
  }
  .output-movie {
    @include flex(column, center, flex-start, 15px);
    width: 100%;

    font-weight: 300;
    letter-spacing: 2px;

    &__intro {
      @include flex(row, space-between, center, initial);
      width: 100%;
      color: $primary-color;
    }
    &__intro p {
      font-size: 1.55em;
    }
    &__intro ion-icon {
      font-size: 1.75em;
    }
    &__data {
      @include flex(column, initial, flex-start, 10px);
      width: 100%;

      padding-left: 5px;
      font-size: 1.1em;
      font-style: italic;
    }
  }
  .output-bookings {
    @include flex(column, center, flex-start, 5px);
    width: 100%;

    font-weight: 300;
    text-align: start;

    &__intro {
      @include flex(row, space-between, center, initial);
      width: 100%;
    }
    &__intro p {
      font-size: 1.55em;
    }
    &__intro ion-icon {
      font-size: 1.75em;
    }
    &__data {
      @include flex(column, center, flex-start, 5px);
      width: 100%;

      padding-left: 5px;
      font-style: italic;
    }
    &__data p {
      font-size: 1.2em;
    }
    &__data .seats {
      @include flex(row, center, flex-end, 30px);
      height: 30px;
    }
    .seat-option {
      cursor: default;
      padding: 0;
    }
  }
  .output-buyer {
    @include flex(column, center, flex-start, 10px);
    width: 100%;

    font-weight: 300;
    text-align: start;

    &__intro {
      @include flex(row, space-between, center, initial);
      width: 100%;
    }
    &__intro p {
      font-size: 1.55em;
    }
    &__intro ion-icon {
      font-size: 1.75em;
    }
    &__data {
      @include flex(column, center, flex-start, 7px);
      width: 100%;

      padding-left: 5px;
    }
    &__data span {
      font-style: italic;
    }
    &__data p {
      font-size: 1.2em;
    }
  }
  .output-tickets {
    @include flex(column, center, flex-start, 15px);
    width: 100%;
    font-weight: 300;

    &__intro {
      @include flex(row, space-between, center, initial);
      width: 100%;
      color: $primary-color;

      p {
        font-size: 1.55em;
      }
      ion-icon {
        font-size: 1.75em;
      }
    }
    &__ticket {
      @include flex(column, center, flex-start, 10px);

      margin-bottom: 10px;
      padding-left: 5px;
      width: 100%;
      height: fit-content;

      .buyer {
        @include flex(column, center, flex-start, 10px);
        padding-left: 5px;
        height: fit-content;
      }
      .seat {
        @include flex(row, initial, center, 20px);
        height: fit-content;
        font-size: 1.1em;
      }
      span {
        font-style: italic;
      }
      p {
        font-size: 1.2em;
      }
      .seat-option {
        padding: 0;
        margin-bottom: 3px;
        width: 30px;
        height: 30px;

        font-size: 0.8em;
        cursor: default;
      }
    }
  }
  .btn-container {
    @include flex(column, center, center, 5px);
    position: relative;
    width: 100%;

    &__home-btn {
      align-self: center;
      margin-top: 10px;

      font-size: 1.1em;
      letter-spacing: 3px;
      text-align: center;
      text-transform: uppercase;
      color: $tertiary-color;

      cursor: pointer;
      border-style: none;
      background-color: inherit;
      transition: all 200ms ease-in-out 0s;
    }
    &__home-btn:hover {
      color: $bar-primary;
    }
    .bar {
      position: relative;
      display: block;
      width: 220px;
    }
    .bar:before,
    .bar:after {
      position: absolute;
      bottom: 1px;

      height: 2px;
      width: 0;

      content: "";
      background: $bar-primary;
      transition: all 200ms ease-in-out 0s;
    }
    .bar:before {
      left: 50%;
    }
    .bar:after {
      right: 50%;
    }
    /* active state */
    &__home-btn:hover ~ .bar:before,
    &__home-btn:hover ~ .bar:after {
      width: 50%;
    }
  }
  .output-display {
    @include flex(initial, center, center, initial);
    position: relative;

    width: 100%;
    height: 150px;

    font-weight: 300;

    figcaption {
      height: fit-content;

      font-size: 0.85em;
      line-height: 16px;
    }
    .image-container {
      @include flex(initial, center, center, initial);
      position: relative;

      padding: 8px;
      height: fit-content;
      width: fit-content;

      border-radius: 8px;
      box-shadow: $poster-box-shadow;
      background-color: $primary-color;

      img {
        width: 110px;
        border-radius: $default-border-radius;
      }
    }
    .info-widget {
      position: absolute;
      z-index: 1;
      top: 10px;
      left: 88px;

      height: 40px;
      width: 30px;

      font-size: 27px;
      color: white;

      transition: all 100ms ease-out 0s;
      background-color: $secondary-color;
      border-radius: 10px 0px 0px 11px;
      box-shadow: -3px 2px 7px 2px rgba(0, 0, 0, 0.2);

      ion-icon {
        position: absolute;
        top: 5px;
        left: 2px;
        cursor: pointer;
        transition: all 100ms ease-in-out 0s;
      }
      &:hover {
        width: 38px;
      }
      &:hover ion-icon {
        left: 7px;
      }
    }
    figcaption.collapsed,
    .image-container.collapsed {
      display: none;
    }
  }
}
@keyframes img-pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: brightness(110%);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    filter: brightness(90%);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: brightness(110%);
  }
}
@keyframes loading-pulse {
  0% {
    transform: scale(1.05);
    filter: brightness(140%);
    filter: blur(0.05rem);
  }
  50% {
    transform: scale(0.95);
    filter: brightness(90%);
    filter: blur(0.15rem);
  }
  100% {
    transform: scale(1.05);
    filter: brightness(140%);
    filter: blur(0.05rem);
  }
}
@keyframes input-highlighter {
  from {
    background: $bar-primary;
  }
  to {
    width: 0;
    background: transparent;
  }
}
