@import "./sass/variables";
@import "./sass/resets";
@import "./sass/mixins";

body {
  position: relative;

  padding: 0 !important;
  height: 100vh;
  width: 100vw;

  -ms-overflow-style: none; /* for IE, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-x: hidden;
  background-color: $alt-tertiary-color;
}
body::-webkit-scrollbar {
  display: none;
}
header {
  @include flex(initial, center, center, initial);

  width: 100%;
  height: 67px;

  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: 3px;
  color: white;

  box-shadow: $default-box-shadow;
  background-color: $primary-color;
}
h4 {
  @include flex(initial, center, center, initial);

  height: 90px;
  width: 100%;

  font-size: 1.5em;
  font-weight: 300;

  text-shadow: $default-text-shadow;
}
a.default-btn {
  @include flex(column, center, center, initial);

  font-weight: 300;
  color: white;

  outline: none !important;
  text-decoration: none !important;

  box-shadow: $default-box-shadow;
  border-radius: $default-border-radius;
  background-color: $secondary-color;
}
footer.selected-movie {
  @include flex(row, flex-start, center, 15px);
  position: fixed;
  bottom: 0;
  right: 0;

  padding: 10px 14px;
  min-height: 117px;
  width: 100%;

  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 2px;

  box-shadow: $invert-box-shadow;
  background-color: $alt-tertiary-color;

  img {
    height: 92px;

    border: 4px solid $primary-color;
    border-radius: $default-border-radius;
  }
  .overview {
    @include flex(column, initial, flex-start, 15px);
  }
}
#main {
  @include flex(column, center, center, 0);
  text-align: center;

  height: fit-content;
  max-width: 100%;

  background-color: transparent;

  section {
    @include flex(row, center, center, 30px);
    flex-wrap: wrap;

    padding: 0 25px;
    height: fit-content;
    max-width: 375px;
  }
  article.movie-poster {
    @include flex(initial, center, center, initial);

    padding: 5px;
    height: 209px;
    width: 145px;

    border-radius: $default-border-radius;
    box-shadow: $poster-box-shadow;
    background-color: transparent;

    img {
      width: 95%;

      border-radius: $default-border-radius;
    }
  }
}
#movie {
  @include flex(column, center, center, 10px);
  position: relative;

  .schedule {
    @include flex(row, flex-start, initial, 9px);
    flex-wrap: wrap;

    padding: 10px 24px;
    height: 140px;
    width: 100%;

    box-shadow: $schedule-box-shadow;

    &__date {
      width: 100%;
      align-self: center;

      font-size: 1.15em;
      font-weight: 300;
      letter-spacing: 2px;
      font-style: italic;
      text-align: start;
    }
    &__time-option {
      height: $time-option-box-height;
      width: $time-option-box-width;
    }
  }
}
#session {
  @include flex(column, center, center, 15px);
  padding: 0 24px;

  .seats-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 26px);
    gap: 18px 7px;

    width: 337px;
    height: 203px;
  }
  .seat-option {
    @include flex(initial, center, center, initial);
    position: relative;
    left: 0px;
    top: 0px;

    padding: 1px 0 0 1.5px;
    height: 26px;
    width: 26px;

    font-size: 0.77em;
    font-weight: 300;
    color: white;

    border-radius: 50%;
    border: 1px solid $btn-shadow-secondary-color;
    background-color: $secondary-color;
    box-shadow: $btn-shadow-secondary-color 0px 3px 0px 0px;
    transition: all 300ms ease-in-out 0s;

    &.selected {
      left: 0px;
      top: 3px;

      background-color: $tertiary-color;
      box-shadow: transparent 0px 0px 0px 0px;
    }
    &.unavailable {
      background-color: $alt-secondary-color;
    }
  }
  .seat-examples {
    @include flex(row, center, center, 37px);

    margin-bottom: 20px;
    padding: 0 56px;
    height: 53px;
    width: 100%;

    > div {
      @include flex(column, space-between, center, initial);

      height: 50px;
      width: fit-content;

      font-size: 13px;
      font-weight: 300;
    }
  }
  .user-inputs {
    @include flex(column, center, center, 35px);
    position: relative;

    margin-top: 10px;

    /* modified input field css sourced from https://codepen.io/chris__sev/pen/LYOyjY?editors=1100 */
    &__group {
      position: relative;

      input {
        display: block;

        padding: 10px 10px 10px 5px;
        width: 300px;

        font-weight: 300;
        font-size: 17px;

        border: none;
        background-color: transparent;
        border-bottom: 1px solid #757575;
      }
      input:focus {
        outline: none;
      }
      label {
        position: absolute;
        top: 15px;
        left: 5px;

        font-size: 15px;
        font-weight: 300;

        color: #999;

        pointer-events: none;
        transition: 0.2s ease all;
      }
      /* active state */
      input:focus ~ label,
      input:valid ~ label {
        top: -10px;
        font-size: 14px;
        color: #5264ae;
      }
      /* BOTTOM BARS ================================= */
      .bar {
        position: relative;
        display: block;
        width: 300px;
      }
      .bar:before,
      .bar:after {
        position: absolute;
        bottom: 1px;

        height: 2px;
        width: 0;

        content: "";
        background: #5264ae;
        transition: 0.2s ease all;
      }
      .bar:before {
        left: 50%;
      }
      .bar:after {
        right: 50%;
      }
      /* active state */
      input:focus ~ .bar:before,
      input:focus ~ .bar:after {
        width: 50%;
      }
      /* HIGHLIGHTER ================================== */
      .highlight {
        position: absolute;
        top: 25%;
        left: 0;

        height: 60%;
        width: 100px;

        opacity: 0.5;
        pointer-events: none;
      }
      /* active state */
      input:focus ~ .highlight {
        animation: input-highlighter 0.3s ease;
      }
    }
  }
  .default-btn {
    margin-top: 30px;
    height: 42px;
    width: 225px;
  }
}
@keyframes img-pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: brightness(110%);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    filter: brightness(90%);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: brightness(110%);
  }
}
@keyframes loading-pulse {
  0% {
    transform: scale(1.05);
    filter: brightness(140%);
    filter: blur(0.05rem);
  }
  50% {
    transform: scale(0.95);
    filter: brightness(90%);
    filter: blur(0.15rem);
  }
  100% {
    transform: scale(1.05);
    filter: brightness(140%);
    filter: blur(0.05rem);
  }
}
@keyframes input-highlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
